<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

	<import resource="beans-services.xml" />
	<import resource="beans-daos.xml" />
	<import resource="beans-jdbc.xml"/>
	<import resource="example-beans.xml" />
	
	<!-- Spring Type Conversion -->
	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="core.xml.datatranfer.ObjectToString" />
			</set>
		</property>
	</bean>
</beans>